<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" th:href="@{/images/icon.png}"/>

    <!--  VERIFICAÇÃO DE PROPRIEDADE DO SITE NO GOOGLE SEARCH CONSOLE -->

    <!-- DEFINE UMA BREVE DESCRIÇÃO DO SITE QUE APARECE NOS RESULTADOS DE BUSCA -->
    <meta name="description" content="As artes marciais conectam você com sua melhor versão de uma maneira única!"/>

    <!-- Open Graph Meta Tags 
    INTEGRAR O SITE ÁS REDES SOCIAIS
    <meta property="og:title" content="Kickboxing"/>
    <meta property="og:description" content="As artes marciais conectam você com sua melhor versão de uma maneira única!"/>
    <meta property="og:image" content="https://swkrkt.conteige.cloud/resources/static/images/logo.png"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://swkrkt.conteige.cloud/"/> -->

    <!-- DADOS ESTRUTURAIS NO FORMATO JSON-LD PARA DESCREVER O CONTEUDO DA PAGINA AOS MECANISMO DE BUSCA
    Ajuda a melhorar o SEO, fornecendo informações adicionais para o Google
    exibir rich snippets nos resultados de pesquisa.
    https://schema.org/docs/full.html
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebPage",
            "name": "Kickboxing",
            "description": "As artes marciais conectam você com sua melhor versão de uma maneira única!",
            "url": "https://swkrkt.conteige.cloud/",
            "image": "https://swkrkt.conteige.cloud/resources/static/images/logo.png",
            "publisher": {
                "@type": "Organization",
                "name": "Kickboxing",
                "logo": {
                    "@type": "ImageObject",
                    "url": "https://swkrkt.conteige.cloud/resources/static/images/logo.png"
                }
            }
        }
    </script> -->

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Reggae+One&family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <!-- Font Awesome para o ícone de menu -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <!-- Ant Design Componentes UI -->
    <link href="https://cdn.jsdelivr.net/npm/antd@4.18.6/dist/antd.min.css" rel="stylesheet">

    <!-- Sweet Alert Componentes UI -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <link rel="stylesheet" th:href="@{/css/style.css}">

    <title>Federação Gaúcha de Kickboxing</title>
</head>

<body style="overflow-x: hidden;">
    <!--INICIO NAV-->
    <div class="div-top-publica">
        <h1 class="titulo-h1">Federação Gaúcha de Kickboxing</h1>

        <div class="div-contato-publica">
            <i class="fa-brands fa-instagram custon-icon-contato"></i>

            <i class="fa-brands fa-facebook custon-icon-contato"></i>

            <i class="fa-brands fa-whatsapp custon-icon-contato"></i>

            <i class="fa-solid fa-envelope custon-icon-contato"></i>
        </div>
    </div>

    <nav class="conteirner-nav-publica">
        <div>
            <img th:src="@{/images/logo-kickboxing.png}" alt="Logo da F.G.K.B" class="img-nav-logo">
        </div>

        <div class="nav-container">
            <div class="nav-list-publica">
                <li><a th:href="@{/index}" style="color: #262626;">Início</a></li>
                <li><a th:href="@{/eventosPub}">Eventos</a></li>
                <li><a th:href="@{/filiadosPub}">Filiados</a></li>
                <li><a th:href="@{/professoresPub}">Professores</a></li>
                <li><a th:href="@{/academiasPub}">Academias</a></li>
                <li><a th:href="@{/rankingPub}">Ranking</a></li>
                <li><a th:href="@{/blackBeltsPub}" target="_blank">Black Belts</a></li>
            </div>
        </div>

        <button class="menu-toggle" onclick="toggleMenu()">☰</button>
    </nav>
    <!--FIM NAV-->

    <section class="container">

        <div class="header-section">
            <h1 class="header-title">Seja Bem-vindo à Federação Gaúcha de Kickboxing</h1>
            <p class="section-text-sub">Promovendo o Kickboxing no Rio Grande do Sul com profissionalismo, excelência e paixão!</p>
            <hr class="separator-head">
        </div>

        <div class="slideshow-container">
            <div class="slide fade">
                <img th:src="@{/images/banner1.png}" alt="Banner">
            </div>
            <div class="slide fade">
                <img th:src="@{/images/banner2.png}" alt="Banner">
            </div>
            <div class="slide fade">
                <img th:src="@{/images/banner3.png}" alt="Banner">
            </div>
            <div class="slide fade">
                <img th:src="@{/images/banner4.png}" alt="Banner">
            </div>

            <!-- Botões de Controle -->
            <a class="prev" onclick="changeSlide(-1)">&#10094;</a>
            <a class="next" onclick="changeSlide(1)">&#10095;</a>
        </div>

        <div class="conteiner-lema">
            <img th:src="@{/images/forca.png}" alt="Força">
            <img th:src="@{/images/disciplina.png}" alt="Disciplina">
            <img th:src="@{/images/respeito.png}" alt="Respeito">
        </div>

        <div class="conteiner-section-index">
            <div class="content-section">
                <h2 class="section-title">Nossas Diretrizes</h2>

                <p class="section-text">A F.G.K.B. é movida pela paixão pelo esporte e pelo compromisso de tornar o Kickboxing acessível a todos. Nossa missão é proporcionar um ambiente de alto nível técnico e competitivo, capacitar treinadores e árbitros, e promover campeonatos e eventos que estimulam o espírito esportivo, a disciplina e o respeito.</p>

                <h2 class="section-title-sub">Trabalhamos incansavelmente para:</h2>
                <ul class="section-list">
                    <li>Desenvolver o Kickboxing em todo o estado, proporcionando treinamento de qualidade para atletas e profissionais.</li>
                    <li>Promover a formação de novos campeões, seja no ringue ou na vida, com foco na ética, no respeito e na superação pessoal.</li>
                    <li>Organizar eventos e campeonatos que coloquem o Rio Grande do Sul em destaque no cenário nacional e internacional.</li>
                </ul>

                <h2 class="section-title" style="margin-top: 20px;">Nosso Trabalho</h2>
                <p class="section-text">Estamos empenhados em proporcionar a melhor infraestrutura para os praticantes de Kickboxing. Com treinamentos de alto nível, eventos organizados com todo o cuidado e qualidade, e uma equipe de professores e profissionais qualificados, trabalhamos para transformar cada pessoa que entra para a F.G.K.B. em um verdadeiro guerreiro.</p>
                <p class="section-text">Além disso, nossa federação é um ponto de apoio para academias, atletas e entidades do Kickboxing, oferecendo recursos para o desenvolvimento da modalidade e contribuindo para o fortalecimento da nossa comunidade esportiva.</p>
                <p class="section-text">A F.G.K.B. é a sua oportunidade de se tornar parte de uma comunidade que busca a excelência no Kickboxing, promovendo o crescimento pessoal e profissional através da prática esportiva.</p>
                <p class="section-text">Venha Fazer Parte Dessa História!</p>
            </div>
        </div>

        <div>
            <div class="inspirational-section">
                <div class="div-inspirational-section">
                    <div class="div-titulo-inspirational">
                        <h2>O Kickboxing é Mais que um Esporte!</h2>
                        <hr class="separator-head">
                    </div>

                    <p>Acreditamos que o Kickboxing é uma jornada de autoconhecimento, onde cada golpe, cada treino e cada desafio nos ensina a sermos mais fortes, resilientes e disciplinados. A F.G.K.B. tem como lema o compromisso com a excelência, a busca constante pela superação e a valorização dos princípios fundamentais do esporte.</p>
                    <p>Seja você também um membro da Federação Gaúcha de Kickboxing! Filie-se e faça parte dessa jornada de superação, disciplina e conquista. Juntos, vamos transformar o Kickboxing no Rio Grande do Sul em uma potência esportiva!</p>

                    <div class="div-btn-filiar">
                        <a href="#" class="ant-input custom-btn-filiar">Clique aqui para se filiar</a>
                    </div>
                </div>

                <!-- Imagem de fundo -->
                <img th:src="@{/images/boxing.png}" alt="Banner">
            </div>
        </div>

        <div class="conteiner-btns">
            <div class="div-btns">
                <h2>Eventos</h2>
                <div class="separator-btns"></div>
                <a th:href="@{/eventosPub}">
                    <img th:src="@{/images/btn-calendario.png}" alt="Eventos">
                </a>
            </div>

            <div class="div-btns">
                <h2>Ranking</h2>
                <div class="separator-btns"></div>
                <a th:href="@{/rankingPub}">
                    <img th:src="@{/images/btn-ranking.png}" alt="Ranking">
                </a>
            </div>

            <div class="div-btns">
                <h2>Black Belt</h2>
                <div class="separator-btns"></div>
                <a th:href="@{/blackBeltsPub}" target="_blank">
                    <img th:src="@{/images/btn-faixa.png}" alt="Faixa Preta">
                </a>
            </div>
        </div>

        <!--REGISTROS PATROCINADORES-->
        <div class="conteiner-patrocinadores">
            <div class="div-parceiros">
                <h2>Nossos Parceiros</h2>
                <div class="separator-parceiros"></div>
            </div>
            <ul>
                <li th:each="patrocinador : ${patrocinadores}">

                    <a th:href="${patrocinador.linkPatrocinador}" target="_blank">
                        <img th:src="@{${patrocinador.imagemPatrocinador}}" alt="Patrocinador" width="120">
                    </a>
                </li>
            </ul>
        </div>
        <!--REGISTROS PATROCINADORES-->

        <div class="ciam-section">
            <div class="ciam-container">
                <img th:src="@{/images/conselho.png}" alt="Conselho Internacional de Artes Marciais" class="ciam-logo">

                <div class="ciam-content">
                    <div class="div-titulo-cian-content">
                        <h2>Conselho Internacional de Artes Marciais</h2>
                    </div>
                    <p>
                        A <strong>Federação Gaúcha de Kickboxing</strong> orgulha-se de fazer parte do
                        <strong>Conselho Internacional de Artes Marciais (CIAM)</strong>, uma organização global
                        dedicada ao fortalecimento, desenvolvimento e promoção das artes marciais.
                    </p>
                    <p>
                        O CIAM reúne mestres, atletas e praticantes de diversas modalidades, incentivando o
                        intercâmbio técnico e cultural entre os estilos de combate. Além disso, valoriza
                        princípios essenciais como ética, disciplina e respeito mútuo, promovendo a união
                        e o crescimento das artes marciais no cenário mundial.
                    </p>
                    <p>
                        Por meio de eventos, seminários e campeonatos internacionais, o CIAM trabalha para
                        divulgar o conhecimento das artes marciais e fomentar a cooperação entre diferentes
                        tradições, sempre incentivando a paz e a compreensão global através do esporte e da cultura.
                    </p>
                </div>
            </div>
        </div>

        <div class="conteiner-brasil">
            <img th:src="@{/images/logo-kickboxing.png}" alt="Logo da F.G.K.B" class="conteiner-brasil-img">
            <img th:src="@{/images/br.png}" alt="Brasil" class="conteiner-brasil-img">
            <img th:src="@{/images/rs.png}" alt="Rio Grande do Sul" class="conteiner-brasil-img">
            <img th:src="@{/images/conselho.png}" alt="Conselho Internacional de Artes Marciais" class="img-conselho">
        </div>


        <div class="conteiner-localiza">
            <div class="div-maps">
                <h2>Localização</h2>
                <div class="separator-maps"></div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3466.578321051557!2d-53.83571305980227!3d-29.674008438275443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x950233ed87bef345%3A0x166c059f55293204!2sCentro%20de%20treinamento%20TEAM%20MOREIRA!5e0!3m2!1spt-PT!2sbr!4v1743783007086!5m2!1spt-PT!2sbr"
                        width="400" height="300" class="mapa" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <div class="div-contatos">
                <h2>Nossos Contatos</h2>
                <div class="separator-maps"></div>

                <div class="div-contato-publica-index">
                    <i class="fa-brands fa-instagram custon-icon-contato-index"></i>

                    <i class="fa-brands fa-facebook custon-icon-contato-index"></i>

                    <i class="fa-brands fa-whatsapp custon-icon-contato-index"></i>

                    <i class="fa-solid fa-envelope custon-icon-contato-index"></i>
                </div>

                <div class="div-cnpj">
                    <h2>Federação Gaúcha de Kickboxing</h2>
                    <p>Horário de funcionamento: Segunda à Sexta das 8:00 às 12:00 / 14:00 às 18:00</p>
                    <p>CNPJ: 00.000.000/0001-00</p>
                </div>

                <div class="div-img-contatos">
                    <img th:src="@{/images/logo-kickboxing.png}" alt="Logo da F.G.K.B" class="img-contato-logo">
                </div>

            </div>
        </div>
    </section>

    <!--INICIO RODAPÉ -->
    <footer class="no-margin">
        <div class="div-footer-logo">
            <img th:src="@{/images/logo-kickboxing.png}" alt="Logo da F.G.K.B" class="img-footer-logo">
            <a href="https://mycodinghub.tech/" target="_blank">
                <img th:src="@{/images/logo-mycoding.png}" alt="Logo da My Coding" class="img-footer-logo-mycoding">
            </a>
        </div>

        <div class="div-footer-p">
            <p>© 2025. Federação Gaúcha de Kickboxing. Todos os direitos reservados.</p>
        </div>
    </footer>
    <!--FIM RODAPÉ -->

    <!-- Renderiza mensagem de sucesso -->
    <div th:if="${successMessage}">
        <script th:inline="javascript">
            Swal.fire({
                icon: 'success',
                text: [[${successMessage}]],
                confirmButtonText: 'OK',
                confirmButtonColor: '#00ff00'
            });
        </script>
    </div>

    <!-- Renderiza mensagem de erro -->
    <div th:if="${errorMessage}">
        <script th:inline="javascript">
            Swal.fire({
                icon: 'error',
                text: [[${errorMessage}]],
                confirmButtonText: 'OK',
                confirmButtonColor: '#00ff00'
            });
        </script>
    </div>

    <script th:src="@{/js/javascript.js}"></script>
</body>
</html>